/*****************************************
* styles for langrenn sprint webpages    *
* generic part                           *
*****************************************/


body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-image: url('https://www.harnaes.no/sprint/web/SprintBG2.jpg');
    background-size: cover;
}

ul {
  	list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
  color: black;
}

li, .dropbtn {
  display: inline-block;
  color: white;
  padding: 2px 2px 2px 2px;
  text-align: center;
  text-decoration: none;
}

.dropbtnactive {
  background-color: grey;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #3D3D3D;
  padding: 2px 2px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.img_desi {
  width: auto;
  height: 100px;
}

.img_kvart {
  width: 24%;
  height: auto;
}

.img_tredje {
  width: 32.5%;
  height: auto;
}

table {
  width: 100%;
	border-spacing: 0;
}

tr:nth-child(even){background-color: #f2f2f2;}

#footeradmin {
    color: grey;
    text-align: right;
    padding: 4px 4px 4px 4px;
}

#info {
    color: orange;
    font-weight: bold;
}

#green {
    color: green;
    font-weight: bold;
}
#orange {
    color: orange;
    font-weight: bold;
}
#red {
    color: red;
    font-weight: bold;
}
#black {
    color: black;
    font-weight: bold;
}


#spacer {
  height: 4px;
}

#minispacer {
  height: 1px;
}

#bredde {
  vertical-align: top;
}

#subheader {
    background-color: lightgrey;
}

#tablespacer {
    background-color: white;
}

function naviger(id) {
  var elmnt = document.getElementById(id);
  elmnt.scrollIntoView();
}

async function savefile(inp)
{
    let formData = new FormData();
    let file = inp.files[0];

    formData.append("file", file);

    const ctrl = new AbortController()    // timeout
    setTimeout(() => ctrl.abort(), 5000);

    let r = await fetch('/contestants',
      {method: "POST", body: formData, signal: ctrl.signal});

}

/**** Responsivt design ****/
.w3-container {
  padding:0.01em 0px
  background-color: white;
}

.w3-third,.w3-quart,.w3-row-padding,.w3-half {
  padding:0.01em 2px
}
.w3-container:after,.w3-container:before,.w3-row-padding:after,.w3-row-padding:before {
  content:"";
  display:table;
  clear:both;
}

.w3-half {
  float:left;width:100%;
  width:50%;
  background-color: white;
}

.w3-third {
  float:left;width:100%;
  width:33.33333%;
}

.w3-quart {
  float:left;width:100%;
  width:25%;
}

/* Use a media query to add a breakpoint */
@media screen and (max-width: 1600px) {
  .w3-quart {
    width: 50%; /* The width is 100%, when the viewport is x px or smaller */
  }
  .w3-third, .w3-half {
    width: 100%; /* The width is 100%, when the viewport is x px or smaller */
  }
}

@media screen and (max-width: 800px) {
  .w3-quart {
    width: 100%; /* The width is 100%, when the viewport is x px or smaller */
  }
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/* End responsive design */

/* START: Tooltip - to show image - start */
.tooltip {
  position:relative;
}

.tooltip span {
  display:none;
}

.tooltip span img {
  float:left;
}

.tooltip:hover span {
  display:block;
  position:absolute;
  top:105%;
  left:105%;
  z-index:1000;
  width:auto;
}

#tooltipimage{
  width:900px;
  height:600px;
}
/* END: Tooltip - to show image - END */
