/*****************************************
* styles for langrenn sprint webpages    *
* club specific part                     *
*
* Lyn farger: Rød vanlig:  lightgray
*             Rød mørk (hover) gray
              Blå #1f3d8e
*
*****************************************/


ul {
  background-color: lightgray;
}

.active {
  background-color: gray;
}

li:hover, .dropdown:hover, .dropbtn:hover {
background-color: gray;
}

.visible_link {
background-color: lightgray;
text-decoration: none;
color: white;
}

#headerblue {
color: white;
background-color: lightgray;
font-weight: bold;
}

#headerblack {
color: white;
background-color: #1f3d8e;
font-weight: bold;
}

#headercollapse {
  text-align: left;
  font-size: 1.5em;
  color: white;
  background-color: lightgray;
  padding: 1px 4px;
  border-radius:6px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

#adminpagetitle {
text-align: center;
color: white;
font-size: 1.5em;
background-color: lightgray;
}
#footeradmin {
background-color: lightgray;
color: white;
text-align: center;
width: 100%;
padding: 5px 5px 5px 5px;
}

/* details TIPS */
.info-box {
  margin-bottom:12px;
  padding:6px;
  border-radius:6px;
  background-color: lightgray;
  color: white;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.content-box { margin-bottom:12px; padding:6px; border:1px solid lightgray; border-radius:6px; }

.event-logo-small {
  content: url('icon_live.png');
  width: 25px;
  height: 25px;
}
