/*****************************************
* styles for langrenn sprint webpages    *
* club specific part                     *
*
* Lyn farger: Rød vanlig:  #A30013
*             Rød mørk (hover) #75000e
              Blå #1f3d8e
*
*****************************************/


ul {
  background-color: #A30013;
}

.active {
  background-color: #75000e;
}

li:hover, .dropdown:hover, .dropbtn:hover {
background-color: #75000e;
}

.visible_link {
background-color: #A30013;
text-decoration: none;
color: white;
}

#headerblue {
color: white;
background-color: #75000e;
font-weight: bold;
}

#headerblack {
color: white;
background-color: #1f3d8e;
font-weight: bold;
}

#headercollapse {
  text-align: left;
  font-size: 1.5em;
  color: white;
  background-color: #A30013;
}

#adminpagetitle {
text-align: center;
color: white;
font-size: 2.0em;
background-color: #A30013;
}
#footeradmin {
background-color: #A30013;
color: white;
text-align: center;
width: 100%;
padding: 5px 5px 5px 5px;
}

/* details TIPS */
.info-box { margin-bottom:12px; padding:6px; border-radius:6px; background-color: #A30013; color: white; }
.content-box { margin-bottom:12px; padding:6px; border:1px solid #A30013; border-radius:6px; }

.event-logo-small {
  content: url('logo/lyn_ski_logo.png');
  width: 25px;
  height: 25px;
}
