/*****************************************
* styles for langrenn sprint webpages    *
* club specific part                     *
*
* Lyn farger: Rød vanlig:  #A30013
*             Rød mørk (hover) #75000e
              Blå #1f3d8e
*
* Kjelsås farger:
              Kongeblå (PMS 280) - #00247d
              Orange PMS 1365 - #ffb549
              Lys blå PMS 278 - #94b5e0
*****************************************/


ul {
  background-color: #94b5e0;
}

.active {
  background-color: #00247d;
}

li:hover, .dropdown:hover, .dropbtn:hover {
background-color: #00247d;
}

.visible_link {
background-color: #94b5e0;
text-decoration: none;
color: white;
}

#headerblue {
color: white;
background-color: #00247d;
font-weight: bold;
}

#headerblack {
color: black;
background-color: #ffb549;
font-weight: bold;
}

#headercollapse {
  text-align: left;
  font-size: 1.5em;
  color: white;
  background-color: #94b5e0;
  padding: 1px 4px;
  border-radius:6px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

#adminpagetitle {
text-align: center;
color: white;
font-size: 1.5em;
background-color: #94b5e0;
}

#footeradmin {
background-color: #94b5e0;
color: white;
text-align: center;
padding: 5px 5px 5px 5px;
}

/* details TIPS */
.info-box {
  margin-bottom:12px;
  padding:6px;
  border-radius:6px;
  background-color: #94b5e0;
  color: white;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.content-box { margin-bottom:12px; padding:6px; border:1px solid #94b5e0; border-radius:6px; }

.event-logo-small {
  content: url('logo/kjelsaas_logo.png');
  width: 25px;
  height: 25px;
}