/*****************************************
* styles for langrenn sprint webpages    *
* club specific part                     *
*
* Lyn farger: Rød vanlig:  #A30013
*             Rød mørk (hover) #75000e
              Blå #1f3d8e
*
*****************************************/


ul {
		background-color: #A30013;
}

.active {
    background-color: #75000e;
}

li:hover, .dropdown:hover, .dropbtn:hover {
  background-color: #75000e;
}

.visible_link {
	background-color: #A30013;
	text-decoration: none;
	color: white;
}

#headerblue {
  color: white;
  background-color: #75000e;
  padding: 4px;
}

#headerblack {
  color: white;
  background-color: #1f3d8e;
  padding: 4px;
}

#headercollapse {
		text-align: left;
		font-size: 1.5em;
    color: white;
    background-color: #A30013;
}

#adminpagetitle {
  text-align: center;
  color: white;
  font-size: 2.0em;
	background-color: #A30013;
}
#footeradmin {
	background-color: #A30013;
  color: white;
  text-align: center;
  width: 100%;
  padding: 5px 5px 5px 5px;
}
