/*****************************************
* styles for langrenn sprint webpages    *
* generic part                           *
*****************************************/


body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #ddd;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
color: black;
}

li, .dropbtn {
display: inline-block;
color: white;
padding: 2px 2px 2px 2px;
text-align: center;
text-decoration: none;
}

.dropbtnactive {
background-color: grey;
}

li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
color: #3D3D3D;
padding: 2px 2px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
display: block;
}

/* tooltip that shows image, centered and covering 80% of the screen */


.img_desi {
width: auto;
height: 100px;
}

.img_kvart {
width: 24%;
height: auto;
}

.img_tredje {
width: 32.5%;
height: auto;
}

table {
width: 100%;
border-spacing: 0;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}

td {
border-bottom: 1px solid #ddd;
padding: 2px 2px 2px 2px;
}

#table_border {
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
}

#table_border_l {
border-left: 1px solid #ddd;
}

#table_border_r {
border-right: 1px solid #ddd;
}

#footeradmin {
  color: grey;
  text-align: right;
  padding: 4px 4px 4px 4px;
}

#info {
  color: orange;
  font-weight: bold;
}

#headerinfo {
  font-weight: bold;
  color: white;
  background-color: green;
}

#green {
  color: green;
  font-weight: bold;
}
#orange {
  color: orange;
  font-weight: bold;
}
#red {
  color: red;
  font-weight: bold;
}
#grey {
  color: grey;
  font-weight:lighter
}
#black {
  color: black;
  font-weight: bold;
}
.black {
  color: black;
}
#white-text {
  color: white;
}

#white {
  background-color: white;
  border-bottom: 0px;
}

#danger-zone {
  color: red;
  padding: 4px;
  vertical-align: top;
}

#info-header {
  color: white;
  font-weight: bold;
  background-color: green;
  padding: 4px;
  vertical-align: top;
}

#info-zone {
  color: white;
  background-color: green;
  padding: 4px;
  vertical-align: top;
}

#smalltext {
font-size: 0.7em;
}

.timetitle {
text-align: center;
font-size: 2.0em;
}


#bigspacer {
height: 400px;
}

#spacer {
height: 4px;
background-color: white;
}

#minispacer {
height: 1px;
}

#bredde {
vertical-align: top;
}

#subheader {
  background-color: lightgrey;
}

#subheaderbold {
background-color: lightgrey;
font-weight: bold;
text-align: center;
}

#table_header_red {
  background-color: red;
  font-weight: bold;
  color: white;
  padding: 4px;
}

#table_header_orange {
background-color: orange;
font-weight: bold;
padding: 4px;
}

#table_header_green {
  background-color: green;
  font-weight: bold;
  color: white;
  padding: 4px;
}

#tablespacer {
  background-color: white;
}

#topborder {
border-left: 1px solid white;
}

#resultheaderfirst {
border-left: 4px solid white;
padding-left: 4px;
color: white;
background-color: grey;
}

#resultheader {
padding-left: 4px;
color: white;
background-color: grey;
}

#resultborder {
border-left: 4px solid white;
}

#frontpage_icon{
width:100px;
height:100px;
}

#header_icon{
width:40px;
height:40px;
vertical-align: bottom;
}

#menu_icon{
width:16px;
height:16px;
vertical-align: bottom;
}

/**** Colors and tooltip for race dashboard - KPIs ****/
#kpi1 {background-color: rgba(200, 200, 200, 0.7); padding: 4px;}  /* 1 not started */
#kpi2 {background-image: linear-gradient(to right, rgba(200, 200, 200, 0.7), white, rgba(255, 255, 0, 0.7)); padding: 4px;}  /* 2 not started - with DNS */
#kpi3 {background-color: rgba(255, 255, 0, 0.7); padding: 4px;}  /* 3 started - no results */
#kpi4 {background-image: linear-gradient(to right, rgba(255, 255, 0, 0.7), white, rgba(0, 255, 0, 0.7)); padding: 4px;}  /* 4 partial results - with DNF */
#kpix {background-color: rgba(155, 255, 0, 0.7); padding: 4px;}
#kpi5 {background-color: rgba(0, 255, 0, 0.7); padding: 4px;}  /* 5 all results ok */
#kpi6 {background-color: rgba(255, 0, 0, 0.7); padding: 4px;}  /* 6 other error */

.tooltip_race {
  position: relative;
  display: inline-block;
}
.tooltip_race .tooltiptext_race {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip_race .tooltiptext_race::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip_race:hover .tooltiptext_race {
  visibility: visible;
}

/**** Responsivt design ****/
.w3-container {
background-color: white;
padding:0.01em 0px;
}

.w3-container-sticky {
background-color: white;
padding: 0.01em 0px;
position: -webkit-sticky;
position: sticky;
z-index: 99;
top: 0;
}

.w3-footer-sticky {
  padding:0.01em 0px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.w3-third,.w3-twothird,.w3-quart,.w3-10,.w3-80,.w3-row-padding,.w3-half {
padding:0.01em 2px;
}
.w3-container:after,.w3-container:before,.w3-row-padding:after,.w3-row-padding:before {
content:"";
display:table;
clear:both;
}

.w3-half {
float:left;width:100%;
width:50%;
background-color: white;
}

.w3-80 {
float:left;width:100%;
width:80%;
background-color: white;
}

.w3-twothird {
float:left;width:100%;
width:66.66666%;
}


.w3-third {
float:left;width:100%;
width:33.33333%;
}

.w3-quart {
float:left;width:100%;
width:25%;
}

.w3-fifth {
float:left;width:100%;
width:20%;
}

.w3-sixth {
float:left;width:100%;
width:16.6%;
}

.w3-10 {
float:left;width:100%;
width:10%;
}

/* Use a media query to add a breakpoint */
@media screen and (max-width: 1600px) {
.w3-quart {
  width: 50%; /* The width is 100%, when the viewport is x px or smaller */
}
.w3-third, .w3-twothird, .w3-half, .w3-80 {
  width: 100%; /* The width is 100%, when the viewport is x px or smaller */
}
}

@media screen and (max-width: 800px) {
.w3-quart {
  width: 100%; /* The width is 100%, when the viewport is x px or smaller */
}
}

* {
box-sizing: border-box;
}

.row::after {
content: "";
clear: both;
display: table;
}


/* End responsive design */

/* START: Tooltip - to show image - start */
.tooltip {
position:relative;
}

.tooltip span {
display:none;
}

.tooltip span img {
float:left;
}

.tooltip:hover span {
display:block;
position:absolute;
top:105%;
left:105%;
width:auto;
}

/* END: Tooltip - to show image - END */

/* START: Tooltip - to show image - start */
.tooltip_photo {
position:relative;
}

.tooltip_photo span {
display:none;
}

.tooltip_photo span img {
float:left;
}

.tooltip_photo:hover span {
display:block;
position:absolute;
top:-1000%;
left:-1000%;
width:auto;
}
/* END: Tooltip - to show image - END */

/* START: Tooltip - to show image - start */
.tooltip_photo_left {
position:relative;
}

.tooltip_photo_left span {
display:none;
}

.tooltip_photo_left span img {
float:left;
}

.tooltip_photo_left:hover span {
display:block;
position:absolute;
top:-500%;
left:100%;
width:auto;
}
/* END: Tooltip - to show image - END */

/* START: Style the Image Used to Trigger the Modal */
#modalImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#modalImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/* End: Style the Image Used to Trigger the Modal */

/* START: Style the Image Used to Trigger the Lightbox */
.lb_row > .lb_column {
  padding: 0 4px;
}

.lb_row:after {
  content: "";
  display: table;
  clear: both;
}

.lb_column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.lb_modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.lb_modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.lb_close {
  color: white;
  position: absolute;
  top: 100px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.lb_close:hover,
.lb_close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.lb_mySlides {
  display: none;
}

.lb_cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.lb_prev,
.lb_next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.lb_next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.lb_prev:hover,
.lb_next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.lb_numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: 1px;
}

.lb_caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.lb_demo {
  opacity: 0.6;
}

.lb_active,
.lb_demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
