/*****************************************
* styles for langrenn sprint webpages    *
* club specific part                     *
*
* Lyn farger: Rød vanlig:  #A30013
*             Rød mørk (hover) #75000e
              Blå #1f3d8e
*
* Kjelsås farger:
              Kongeblå (PMS 280) - #00247d
              Orange PMS 1365 - #ffb549
              Lys blå PMS 278 - #94b5e0
*****************************************/


ul {
		background-color: #94b5e0;
}

.active {
    background-color: #00247d;
}

li:hover, .dropdown:hover, .dropbtn:hover {
  background-color: #00247d;
}

.visible_link {
	background-color: #94b5e0;
	text-decoration: none;
	color: white;
}

#topborder {
  border-left: 1px solid white;
}

#headerblue {
    color: white;
    background-color: #00247d;
}

#headerblack {
    color: black;
    background-color: #ffb549;
}

#headercollapse {
		text-align: center;
		font-size: 1.5em;
    color: white;
    background-color: #94b5e0;
}


#adminpagetitle {
  text-align: center;
  color: white;
  font-size: 2.0em;
	background-color: #94b5e0;
}
