name: Test, build and deploy server

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    name: Build, test and deploy to GitHub Container registry
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          # Install a specific version of uv.
          version: "0.9.18"

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run tests
        run: |
          uv run poe release
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          ADMIN_USERNAME: ${{ secrets.ADMIN_USERNAME }}
          ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Tag and publish docker image to Github Container registry
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |-
          docker tag ghcr.io/langrenn-sprint/result-service-gui:test ghcr.io/langrenn-sprint/result-service-gui:latest
          docker rmi ghcr.io/langrenn-sprint/result-service-gui:test
          docker push ghcr.io/langrenn-sprint/result-service-gui:latest
