name: Test, build and deploy webserver
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    name: Build, test and deploy to GitHub Container registry
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
          architecture: x64

      - name: Install dependencies
        run: |-
          pip install poetry==1.1.11
          pip install nox==2021.10.1
          pipx install nox
          pipx inject nox nox-poetry

      - name: Build image and test with nox
        run: |-
          nox
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          ADMIN_USERNAME: ${{ secrets.ADMIN_USERNAME }}
          ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Tag and publish docker image to Github Container registry
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |-
          docker tag ghcr.io/langrenn-sprint/result-service-gui:test ghcr.io/langrenn-sprint/result-service-gui:latest
          docker rmi ghcr.io/langrenn-sprint/result-service-gui:test
          docker push ghcr.io/langrenn-sprint/result-service-gui:latest
